/* Start Header */
html{zoom:67%}

.header .navbar {background-color: #002A53;color:#FFF;overflow: hidden;height: 100px}

.header .navbar h1 {
    color: #d1b765;
    margin-top: 33px;
    font-size: 36px;
    font-family: initial;
}
.header .navbar ul {
    list-style: none;
    padding-left: 0px;
    overflow: hidden;
    float:right
}

#hi{
	    margin-left: 40px;
}

.header .navbar ul li {float:left;padding: 10px;font-size: 22px;margin-top: 13px}

.header .navbar ul li a {color:#FFF;text-decoration: none}

.header .navbar ul li .active a,
.header .navbar ul li a:hover {color: #30B576}

    /* Start Sign-bar */

    .sign-bar {background-color: #FFC300;color:#FFF;overflow: hidden;height: 65px}

    .sign-bar ul {
        list-style: none;
        padding: 0px;
        overflow: hidden;
        height: 100%
    }

    .sign-bar ul li {
        padding-right: 8px;
        font-size: 30px;
        display: inline-block;
    }

    .sign-bar ul li a {
         color: #FFF;
        text-decoration: none;
    }
    
    .sign-bar ul li a:hover {
        color:  #30B576;   
    }
    .sign-up {
        margin-left: 5px;
        border-left: 3px solid;
        padding-left: 13px;
    }

    .search {
        background: #ffc300;
        height: 40px;
        border-radius: 13px;
        padding: 1px;
        transform: translate(-2px,-57px);
        border: 3px solid #002a53;
    }

    .search .search-txt {
        width: 270px;
        padding: 0 8.5px;
        color: #333;
        font-size: 17px;
        border: none;
        background: none;
        outline: none;
        line-height: 40px;
        font-weight: bold;
        transition: .3s;
    }

    .search-txt:focus:placeholder  {color: transparent;transition: .2s}

    .search-txt:not(focus)::placeholder {color: #757575;transition: .2s}

    .search-btn {
        color: black;
        width: 39px;
        height: 39px;
        border-radius: 13px;
        background: #FFC300;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .search-btn i {
        font-size: 30px
    }
    /* End Sign-bar */

/* End Header */

/* Start Footer */


.footer{
    background-color:#002A53;
    color: #FFF;
    padding: 20px 0;
    text-align: center;
}

.footer ul {
    list-style: none;
    margin: 0;
}

.footer ul li {display: inline-block}

/* End Footer */