html{zoom:67%}
.login {
    background-color: #F2F2F2;
    height: auto;
	margin: 350px 350px 0px 350px;
}
form {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px dotted #002A53;
    width: 40%;
}
h2 {
    text-align: center;
    background-color: #ffa500;
    color: white;
    border-radius: 10px;
    font-size: 31px;
    height: 38px;
    padding: 9px;
}
input
{
    padding: 10px;
    margin: 14px;
    border-radius: 5px;
    border: none;

}
input[type=text], input[type=email], input[type=mnumber], input[type=password] {
    width: 90%;
    font-size: 25px;
}
input[type=submit]
{
    width: 95%;
    background-color: orange;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: white;
	font-size: 28px;
}
input[type=submit]:hover
{
    background-color: yellow
}
select
{
    padding: 10px;
    width: 32%;
    border-radius: 5px;
}
.signup_link
{
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.signup_link a
{
    color: #2691d9;
    text-decoration: none;
}

.signup_link a:hover
{
    text-decoration: underline;
}
