html {
    font-family: sans-serif;
}
html{zoom:67%}
body{
    margin: 0px
}


/* Start our Framework */

.if-header{width: 100%;height: 165px;border: 0px;padding: 0px;margin: 0px;margin-bottom: -6px;}

.if-footer{width: 100%;height: 60px;border: 0px;padding: 0px;margin: 0px;margin-bottom: -3px;}

p {line-height: 1.7;color: #666666}

h2, h3 {color:#444}

.fl-left {float: left}

.fl-right {float: right}

.container {width: 1200px;margin: auto}

a {text-decoration: none}

/* End our Framework */

